{% load static %}
<html>

<head>
  <title>Django Powered Blog</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lobster&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
    crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
  {% if user.is_authenticated %}
    <p>
      <h1 style="display:inline">Welcome {{ user.username }} to Django website</h1>
      <h3 style="display:inline">(<a href="{% url 'logout' %}">Log out</a>)</h3>
    </p>
    <div class="page-header">
      <h1>
        <a href="/">Django powered blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="float:right">
          <a href="{% url 'post_draft_list' %}" class="top-menu">
            <!-- "><span class="glyphicon glyphicon-edit"></span> -->
            <i class="far fa-edit" title="Display draft posts"></i>
          </a>
          <a href="{% url 'post_new' %}" class="top-menu">
            <!-- <span class="glyphicon glyphicon-plus"></span> -->
            <i class="fas fa-plus-circle" title="Add new post"></i>
          </a>
        </span>
      </h1>
    </div>
  {% else %}
    <p>
      <h1 style="display:inline">You are not logged in to Django website</h1>
    </p>
    <div class="page-header">
      <h1>
        <a href="/">Django powered blog</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <span style="float:right">
          <a href="{% url 'login' %}" class="top-menu">
            <!-- <span class="glyphicon glyphicon-lock"> -->
            <i class="fas fa-lock" title="Click to login"></i>
          </a>
        </span>
      </h1>
  {% endif %}
      <!-- </h1> -->
    </div>
    <hr>
    <div class="content container">
      <div class="row">
        <div class="col-md-8">
          {% block content %} {% endblock %}
        </div>
      </div>
    </div>
</body>

</html>