.page-header {
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}
.date {
    color: mediumslateblue;
}
.save {
    float: right;
}

.post {
    margin-bottom: 70px;
}
 
.post h2 a, .post h2 a:visited {
    color: #000000;
}

body {
    padding-left: 20px;
}

.comment {
    margin: 20px 0px 20px 20px;
}


